@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(0 5 1);
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.75rem;
}
h4{
  font-size: 1.5rem;
  font-weight: 600;
}
h5{
  font-size: 1.25rem;
  font-weight: 600;
}
h6{
  font-size: 1rem;
  font-weight: 600;
}

.container{
  max-width: 65rem;
  margin: 0 auto;
}

@layer {
  .center-row-div{
    @apply flex items-center gap-4
  }
  h1,h2,h3,h4,h5,h6,p,span{
    line-height: 1.2;
  }
  a {
    @apply text-primary hover:text-primary-hover text-xs
  }
}